
* {
  box-sizing: border-box;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  max-width: 85px;
}
td {
  overflow: hidden;
  white-space: nowrap;
  width: 85px;
 
}





#header{
    width: 640px;
    
    margin:auto;
    display: flex;
    flex-wrap: wrap;
   /* perspective:1000px;*/
    z-index: 2;
}
#main {
    z-index: 1;
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective:1000px;
  }

  .grilleNode{
      width: 4.5em;
      height: 4.5em;
  }
  .tdBg {
      z-index: 0;
      background-color: #77878a!important;
      box-shadow: 5px 3px 3px black;
      opacity: 0.9;
  }

  .win{
      z-index: 1000;
      position: fixed;
      top :0;
      left : 0;
      opacity: 0.5;  
      width: 100vw;
      height:100vh;
      margin:auto;

  }
  .win img{
      display: block;
      width:50%;
      animation: example 2s infinite;
  }
  .win h1, img{
      text-align: center;
      margin:auto;
  }

  @keyframes example {
    from {transform : rotateY(0deg)}
    to {transform : rotateY(360deg)}
}

.moveCoin{  
 position: absolute;
 animation: CoinAnimate 1s;
 top:0px;
 left:0px;
 
}
.main img{
z-index: 1010;
}



@keyframes CoinAnimate2{
    from {transform : translateY(0)}
    to {transform : translateY(77px)}

}

@keyframes CoinAnimate3{
    from {transform : translateY(0)}
    to {transform : translateY(155px)}

}

@keyframes CoinAnimate4{
    from {transform : translateY(0)}
    to {transform : translateY(233px)}

}

@keyframes CoinAnimate5{
    from {transform : translateY(0)}
    to {transform : translateY(397px)}

}

@keyframes CoinAnimate6{
    from {transform : translateY(0)}
    to {transform : translateY(475px)}

}


  
